# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries

import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders_df= pd.read_csv('orders.csv')
orders_df.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# Sub Problem 1:

# Grouping by CustomerID and sum the amount_spent for each customer:

customer_expenses = orders_df.groupby('CustomerID')['amount_spent'].sum()

customer_expenses

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [4]:
# Sub Problem 2:

# Calculating the 75th and 95th percentiles:

percentile_75 = customer_expenses.quantile(0.75)
percentile_95 = customer_expenses.quantile(0.95)

# Selecting Preferred Customers (between 75th and 95th percentile):

preferred_customers = customer_expenses[(customer_expenses >= percentile_75) & (customer_expenses < percentile_95)]

# Selecting VIP Customers (above 95th percentile):

vip_customers = customer_expenses[customer_expenses >= percentile_95]

# Calculating the minimum and maximum spending for Preferred and VIP customers:

min_spending_preferred = round(preferred_customers.min(),2)
max_spending_preferred = round(preferred_customers.max(), 2)

min_spending_vip = round(vip_customers.min(), 2)
max_spending_vip = round(vip_customers.max(), 2)


print("Range for Preferred Customers: Min =", min_spending_preferred, "Max =", max_spending_preferred)
print("Range for VIP Customers: Min =", min_spending_vip, "Max =", max_spending_vip)

Range for Preferred Customers: Min = 1661.84 Max = 5836.86
Range for VIP Customers: Min = 5870.08 Max = 280206.02

In [5]:
# Sub Problem 3:

# Creating a new column 'CustomerCategory' and adding default values first as Regular:

orders_df['CustomerCategory'] = 'Regular'

# Defining Preferred Customers:

orders_df.loc[orders_df['CustomerID'].isin(preferred_customers.index), 'CustomerCategory'] = 'Preferred'

# Defining VIP Customers:

orders_df.loc[orders_df['CustomerID'].isin(vip_customers.index), 'CustomerCategory'] = 'VIP'

orders_df.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,CustomerCategory
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [6]:
# Since we already defined variables on the precious solution, we proceed directly as follows:

# Grouping VIP Customers by country and counting them:

vip_customers_by_country = orders_df[orders_df['CustomerID'].isin(vip_customers.index)]

vip_customers_count_by_country = vip_customers_by_country['Country'].value_counts()

# Finding  the country with the most VIP Customers:

country_with_most_vip = vip_customers_count_by_country.idxmax()


print("Country with the most VIP Customers:", country_with_most_vip)

Country with the most VIP Customers: United Kingdom

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [8]:
# Calculating the count of Preferred Customers by grouping and counting orders (vip already done Q2):

preferred_customers_by_country = orders_df[orders_df['CustomerID'].isin(preferred_customers.index)]
preferred_customers_count_by_country = preferred_customers_by_country['Country'].value_counts()

# Creating a DF with counts for both Customers:

vip_preferred_counts_by_country = pd.DataFrame({'VIP': vip_customers_count_by_country,'Preferred': preferred_customers_count_by_country})

# Calculating the count of VIP+Preferred Customers:

vip_preferred_counts_by_country['VIP+Preferred'] = vip_preferred_counts_by_country['VIP'] + vip_preferred_counts_by_country['Preferred']

# Find the country with the most VIP+Preferred Customers
country_with_most_vip_preferred = vip_preferred_counts_by_country['VIP+Preferred'].idxmax()

print("Country with the most VIP+Preferred Customers:", country_with_most_vip_preferred)

Country with the most VIP+Preferred Customers: United Kingdom